@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #f6f7ff;
    --on-color: #000000;
}

:root.dark {
    --background: #000000;
    --on-color: #ffffff;
}

body {
    background-color: var(--background);
    color: var(--on-color);
}