@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #f6f7ff;
    --on-color: #000000;
}

:root.dark {
    --background: #000000;
    --on-color: #ffffff;
}

body {
    background-color: var(--background);
    color: var(--on-color);
}

.bg-red-200 {
    background-color: var(--slate-50, #f8fafc);
}

.bg-slate-50 {
    background-color: var(--slate-50, #f8fafc);
}

.bg-slate-100 {
    background-color: var(--slate-100, #f1f5f9);
}

.bg-slate-200 {
    background-color: var(--slate-200, #e2e8f0);
}

.bg-slate-300 {
    background-color: var(--slate-300, #cbd5e1);
}

.bg-slate-400 {
    background-color: var(--slate-400, #94a3b8);
}

.bg-slate-500 {
    background-color: var(--slate-500, #64748b);
}

.bg-slate-600 {
    background-color: var(--slate-600, #475569);
}

.bg-slate-700 {
    background-color: var(--slate-700, #334155);
}

.bg-slate-800 {
    background-color: var(--slate-800, #1e293b);
}

.bg-slate-900 {
    background-color: var(--slate-900, #0f172a);
}

.bg-gray-50 {
    background-color: var(--gray-50, #f9fafb);
}

.bg-gray-100 {
    background-color: var(--gray-100, #f3f4f6);
}

.bg-gray-200 {
    background-color: var(--gray-200, #e5e7eb);
}

.bg-gray-300 {
    background-color: var(--gray-300, #d1d5db);
}

.bg-gray-400 {
    background-color: var(--gray-400, #9ca3af);
}

.bg-gray-500 {
    background-color: var(--gray-500, #6b7280);
}

.bg-gray-600 {
    background-color: var(--gray-600, #4b5563);
}

.bg-gray-700 {
    background-color: var(--gray-700, #374151);
}

.bg-gray-800 {
    background-color: var(--gray-800, #1f2937);
}

.bg-gray-900 {
    background-color: var(--gray-900, #111827);
}

.bg-red-50 {
    background-color: var(--red-50, #fef2f2);
}

.bg-red-100 {
    background-color: var(--red-100, #fee2e2);
}

.bg-red-200 {
    background-color: var(--red-200, #fecaca);
}

.bg-red-300 {
    background-color: var(--red-300, #fca5a5);
}

.bg-red-400 {
    background-color: var(--red-400, #f87171);
}

.bg-red-500 {
    background-color: var(--red-500, #ef4444);
}

.bg-red-600 {
    background-color: var(--red-600, #dc2626);
}

.bg-red-700 {
    background-color: var(--red-700, #b91c1c);
}

.bg-red-800 {
    background-color: var(--red-800, #991b1b);
}

.bg-red-900 {
    background-color: var(--red-900, #7f1d1d);
}

.bg-blue-50 {
    background-color: var(--blue-50, #eff6ff);
}

.bg-blue-100 {
    background-color: var(--blue-100, #dbeafe);
}

.bg-blue-200 {
    background-color: var(--blue-200, #bfdbfe);
}

.bg-blue-300 {
    background-color: var(--blue-300, #93c5fd);
}

.bg-blue-400 {
    background-color: var(--blue-400, #60a5fa);
}

.bg-blue-500 {
    background-color: var(--blue-500, #3b82f6);
}

.bg-blue-600 {
    background-color: var(--blue-600, #2563eb);
}

.bg-blue-700 {
    background-color: var(--blue-700, #1d4ed8);
}

.bg-blue-800 {
    background-color: var(--blue-800, #1e40af);
}

.bg-blue-900 {
    background-color: var(--blue-900, #1e3a8a);
}

.bg-yellow-50 {
    background-color: var(--yellow-50, #fefce8);
}

.bg-yellow-100 {
    background-color: var(--yellow-100, #fef9c3);
}

.bg-yellow-200 {
    background-color: var(--yellow-200, #fef08a);
}

.bg-yellow-300 {
    background-color: var(--yellow-300, #fde047);
}

.bg-yellow-400 {
    background-color: var(--yellow-400, #facc15);
}

.bg-yellow-500 {
    background-color: var(--yellow-500, #eab308);
}

.bg-yellow-600 {
    background-color: var(--yellow-600, #ca8a04);
}

.bg-yellow-700 {
    background-color: var(--yellow-700, #a16207);
}

.bg-yellow-800 {
    background-color: var(--yellow-800, #854d0e);
}

.bg-yellow-900 {
    background-color: var(--yellow-900, #713f12);
}

.bg-green-50 {
    background-color: var(--green-50, #f0fdf4);
}

.bg-green-100 {
    background-color: var(--green-100, #dcfce7);
}

.bg-green-200 {
    background-color: var(--green-200, #bbf7d0);
}

.bg-green-300 {
    background-color: var(--green-300, #86efac);
}

.bg-green-400 {
    background-color: var(--green-400, #4ade80);
}

.bg-green-500 {
    background-color: var(--green-500, #22c55e);
}

.bg-green-600 {
    background-color: var(--green-600, #16a34a);
}

.bg-green-700 {
    background-color: var(--green-700, #15803d);
}

.bg-green-800 {
    background-color: var(--green-800, #166534);
}

.bg-green-900 {
    background-color: var(--green-900, #14532d);
}


.ripple {
    position: absolute;
    border-radius: 50%;
    background: currentColor;
    transform: scale(0);
    animation: ripple-animation 600ms linear;
    opacity: 0.4;
    pointer-events: none;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}